@keyframes introit
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes animfade 
{
    0%
    {
        opacity: 0.2;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0.2;
    }
}

@keyframes selectionsparkle 
{
    0%
    {
        opacity: 0.5;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0.5;
    }
}

@keyframes rotateanim 
{
    0%
    {
        rotate: 0deg;
    }
    25%
    {
        rotate: -4deg;
    }
    75%
    {
        rotate: 4deg;
    }
}

/*:root   <--looks like shit
{
    scrollbar-color: rgb(25, 25, 25) rgb(50, 50, 50);
    scrollbar-width: thin;
}
*/

::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(black,rgb(35, 15, 35),black);
    border-radius: 1vh;
}


*
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body
{
    background: black;
}

.main
{
    height: 100vh;
    width: 100vw;
    background: black;
    animation: introit 1s;
}

.skuffielogoholder
{
    height: 25%;
    background: linear-gradient(rgb(26, 0, 26),black);
    display: flex;
    justify-content: center;
    font-family: 'Yuyu', sans-serif;
}

.skuffielogo .letter
{
    overflow: hidden;
    color: white;
    opacity: 0.2;
    font-size: 15vh;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
    user-select: none;
}

.skuffielogo .letter:hover
{
    opacity: 1;
    transition:cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
    animation: rotateanim 3s infinite ease;
}

.skuffielogo
{
    overflow: hidden;
    width: min-content;
    height: min-content;
    display: flex;
}

.skuffieabout
{
    font-family: "Space Mono", monospace;
    font-style: normal;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    height: 250%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skuffieabout h1
{   
    overflow: hidden;
    padding: 2vh;
    margin: 2vh;
    background-color: rgba(255,255,255,0.1);
    border-radius: 3vh;
    font-weight: 700;
    font-size: 5vh;
    text-align: center;
    user-select: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.skuffieabout h1:hover
{
    padding: 3vh;
    margin: 1vh;
    background-color: rgba(255,255,255,0.3);
    color: rgb(255, 199, 255);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.skuffieabout p
{
    font-weight: 200;
    font-size: 2.5vh;
    margin: 2vh;
    text-align: center;
    overflow: hidden;
}

.projects
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.containercode
{
    opacity: 0.5;
    aspect-ratio: 3 / 2;
    width: 50%;
    max-width: 500px;
    border-radius: 3vh;
    overflow: hidden;
    margin: 1vh;
    border: solid rgb(20, 20, 20) 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.containercode:hover
{
    opacity: 1;
    border: solid rgb(127, 127, 127) 2px;
    width: 55%;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.containercode:hover .title
{
    font-weight: 1000;
}

.containercode .title
{
    margin: 1vw;
    height: 50%;
    display: flex;
    align-items: flex-end;
    user-select: none;
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 3rem);
}

.containercode .context
{
    height: 50%;

    font-size:clamp(0.5em, 1.8vw, 1.2em);

    text-align: center;
    overflow-y: scroll;
    user-select: none;

    display: flex;
    align-items: center;

    color: rgba(255,255,255,0.8);
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
}

#scp
{
    background-position: center;
    background-size:cover;
    background-blend-mode:hard-light;
    background-image:linear-gradient(rgba(0,0,0,0.9), rgba(0, 0, 0, 0)), url("data/scp.svg"), url("data/menublack.jpg");
}

#ytavc
{
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(rgba(0,0,0,0.9), rgba(0, 0, 0, 0.3)), url("data/YTAVCIcon.png");
}

#github
{
    border-radius: 1vh;
    background-position: center;
    background-size: cover;
    background-image:url("data/gh.svg"),linear-gradient(rgba(255,255,255,0.9), rgba(255, 255, 255, 0.3));
}

#github .title
{
    align-items: center;
    font-size: clamp(1rem, 2.5vw, 2rem);
}

#gh
{
    max-height: 200px;
    max-width: 300px;
}

a
{
    text-align: center;
    overflow: hidden;
    color: pink;
    text-decoration: none;
    font-size: 3vh;
    transition: cubic-bezier(0,.97,0,.99) 0.3s;
}

a:hover
{
    color: rgb(239, 207, 212);
    text-decoration: none;
    font-size: 3.2vh;
    transition: cubic-bezier(0,.97,0,.99) 0.3s;
    text-shadow:0 0 10px pink,0 0 10px pink;
}

.acontainer a
{
    margin-left: 1vh; margin-right: 1vh;
}

.muziqtaste
{
    opacity: 0.5;
    filter: blur(2px);
    cursor: pointer;
    user-select: none;
    margin: 4vh 2vh 2vh 2vh;
    border-radius: 2vh;
    background-size: cover;
    background-position: center;
    background-blend-mode:luminosity;
    background-image:linear-gradient(rgb(27, 208, 249), rgb(245, 71, 245),rgb(245, 245, 245),rgb(19, 123, 146), rgb(72, 13, 72)), url(data/saw2.jpg);
    aspect-ratio: 4/3;
    max-width: 400px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.muziqtaste .title
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 2vh;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 100;
    font-size: clamp(1.6rem, 2vw, 2.2rem);
    overflow: hidden;
    margin: 5%;
    height: 50%;
    width: 90%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}


.muziqtaste .subtitle
{
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 100;
    font-size: clamp(0.8rem, 1vw, 1rem);
    border-radius: 2vh;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 5%;
    height: 30%;
    width: 90%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.muziqtaste:hover
{
    opacity: 1;
    filter: blur(0px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    max-width: 425px;
}

.muziqtaste:hover .title
{
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.9);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.muziqtaste:hover .subtitle
{
    color: rgba(255, 255, 255, 1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
}